<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Edit Product</title>
</head>
<body>
<div>
		<form action="#" th:action="@{/product/edit}" th:object="${selectedProduct}"
			method="post">

<input type="hidden" th:field="*{id}" th:value="${id}" />
			<label for="name">product name</label> <input type="text" id="name"
				th:field="*{name}" th:text="${name}" /> <label for="type">Type</label> <select
				th:field="*{pType}">
				<option
					th:each="productType : ${T(com.shaokat.model.ProductType).values()}"
					th:value="${productType}" th:text="${productType.typeName}"
					th:selected="(${productType.typeName} == *{pType.typeName})">product
					Types</option>
			</select> <input type="submit" value="Edit" />
		</form>
	</div>
</body>
</html>